<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aluno</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/luan.jpg" width="300px" />
      <ion-card-header>
        <ion-card-title>Luan Duarte</ion-card-title>
        <ion-card-subtitle>Código da Turma: ADS0304N</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Matrícula: 23105731
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
